*{
	scroll-padding-top: 7.7vh;
}
html{
	scroll-behavior: smooth;
}
nav {
	height:7.7vh;
	width: 100vw;
	z-index: 9999;
}
#logo{
	margin: 0px; 
	padding: 0px;	
}
.section{
	/*height:92.3vh;*/
	height: auto;
	width: 100vw;
}
.mainNav{
	position: fixed;
	top: 0;
}
div.disabled {
    overflow-x: hidden; 
    overflow-y: hidden; 
}
pre{
	margin-bottom: 0px;
	box-sizing: border-box;
}
.sec:hover{
color: white;
background-color: gray;
}
.logo{
	width: 6vh;
}
.logo:hover{
	background-color: gray;
	border-radius: 10%;
}

#logo a: hover{
	width: 70px;
}
.owl-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.owl-prev,
.owl-next {
  position: absolute;
  color: red;
}
.owl-prev,
.owl-next {
  background-color: transparent;
  border: 0px none transparent;
  width: 0px;
  height: 0px;
}
.owl-perv {
  left: 0;
}
.owl-next {
  right: 72px;
}
.item {
 /* outline: 1px dashed black;*/
  height:25vh;
  text-align: center;
  text-align: center ;
}
.book-cover{
height:25vh;
}
.center {
  color:white;
  position: absolute;
  /*top: 50%;*/
  /*left: 50%;*/
  transform: translate(40%, 100%);
  /*text-shadow: -10px 0px 30px blue;*/
  margin: auto;	
  width: 60%;
  /*border: 3px solid black;*/
  padding: 10px;
  /*background-color: rgba(103, 128, 159, 0.7);*/
  overflow-x: auto;
  margin-bottom: 50px;
}
.order-form .container {
  color: #4c4c4c;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.order-form-label {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}
.order-form-input {
  width: 100%;
  padding: 8px 8px;
  border-width: 1px !important;
  border-style: solid !important;
  border-radius: 3px !important;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  background-color: transparent;
  border-color: #cccccc;
}
.btn-submit:hover {
  background-color: #090909 !important;
}
#order{
list-style-type: none;
}
@media screen and (min-width: 580px) { /*///////////////////////////////////////////////*/
.dropdown-content{
	display: none;
}
.pls{
	display: none;
}
.dropbtn {
  display: none;
}
.icon{
	display: none;
}
.topnav{
	display: none;
}
.nav-item{
	display: inline-block;
}
.nav-link{
	margin-top: 1vh;
	text-align: center;
	vertical-align: middle;
}
}
@media screen and (max-width: 580px) { /*/////////////////////////////////////////////*/
	 /*.mainNav{
	 	display: none;
	 	
	 }*/
	 html{
	 	margin-top: -3vh;
	 }
	 .dropbtn {
	  
	  color: white;
	  padding: 1vh;
	  font-size: 5vh;
	  border: 1px black;
	  cursor: pointer;
	}

	.dropbtn:hover, .dropbtn:focus {

	}

	.dropdown {
	  position: relative;
	  display: inline-block;
	}

	.dropdown-content {
	  margin-top: 5vh;
	  width: 50%;
	  display: none;
	  position: absolute;
	  background-color: #f1f1f1;
	  min-width: 160px;
	  overflow: auto;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}
	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}
	.show {display: block;}
	.pls{
	    display: inline-block;
	    font-size:5vh;
	    margin-top: -1vh;
	    text-align: center;
	    vertical-align: middle;
	 }
	 .nav-item{
	 	text-align: center;
	 	display: none;
	 }
	.bm{
		color: white;
	}
	.bm:hover{
		color: lightgray;
	}
	body {
	  font-family: Arial, Helvetica, sans-serif;
	}
	.active {
	  
	  color: white;
	}
}
@media screen and (min-height: 1000px) {
	.img{
		width: 100vw;
		text-align: center;
		vertical-align: middle;
	}
}
@media screen and (max-height: 1000px) {
	.img{
		width: 50vw;
		text-align: center;
		vertical-align: middle;
	}
}
a:hover {
  text-decoration: none;
}
.img-main{
  height: 300px;
  width: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-row: 2;
  grid-column: 2;
  
}

#display_image{
  height: 300px;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}

.contact_sub{
	background-color: black;
	width: 500px;
	height: auto;
	background-position: center;
	background-size: cover;
	border-radius: 10%;
	/*position: relative;*/
}

.contact_sub>p {
	color: white;
	font: 2vh;
	/*position: absolute;*/
	text-align: center;
	transform:translate(0%,0%);
}

@media screen and (min-width: 400px) {

	.contact_sub>p {
		
		width: 100vw;
	}
}

@media screen and (max-width: 1000px){

	.contact_sub>p {
		width: 50vw;
	}
}
.container_about{
    /*position: absolute;*/
    color: white;
    font-size: 2vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 75%;
    height: auto;/*42.5vh;*/
    background-color: rgba(0,0,0,.8);
    border-radius: 5px;
    position: relative;
    /*overflow-x:scroll; */
}
.container_contact{
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 95%;
    height: auto;/*42.5vh;*/
    background-color: rgba(0,0,0,.8);
    border-radius: 5px;
    position: relative;
}

.container_contact>p {
    color: white;
    text-align: center;
}

.container_contact>a {
    color: white;
    margin-left: 3px;
    text-decoration: none;
}

.container_contact>a:hover{
	color: gray;
}

#para{
    padding: 15px;
}